.wrapper {
  display: flex;
  gap: 14px;
  align-items: center;

  .left,
  .right {
    flex: 50%;
  }

  .left,
  .right {
    pre {
      font-size: 0.995rem;
      border: 2px dotted var(--border);
      padding: 1em !important;
    }
  }
}
