$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;

@font-face {
  font-family: 'Fira Code';
  src: url('../public/FiraCode.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../public/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  src: url('../public/IBMPlexSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  src: url('../public/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../public/IBMPlexSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Newsreader';
  src: url('../public/Newsreader.ttf') format('truetype');
}

@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  src: url('../public/Newsreader-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Virgil';
  src: url('../public/Virgil.woff2') format('woff2');
}

:root {
  --theme: #ec3750;
  --yellow: #fefaa7;
  --border: #e8e8e8;
  --background: #f8f8f8;
  --hint: #404040;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--theme);
  color: #f4f3ec;
}

body,
html {
  font-family: 'IBM Plex Sans';
  margin: 0;
  overflow-x: clip;
  padding: 0;
  scroll-behavior: smooth;
}

#node-iframe {
  display: none;
}

header {
  margin: auto;
  display: flex;
  font-size: 1.3rem;
  padding: 0 2em 0.5em 2em;

  @media screen and (max-width: $lg) {
    gap: 1rem;
  }

  @media screen and (min-width: $lg) {
    align-items: flex-end;
  }

  #logo {
    margin: 0;
    width: 150px;
  }

  h1,
  h2 {
    letter-spacing: -1px;
    position: relative;
    z-index: 999;
    margin: 0;
  }

  h1 {
    color: var(--theme);
    line-height: 1.2;
    font-style: italic;
    margin: 0;
  }

  h2 {
    font-family: 'Newsreader', serif;
  }

  > div {
    flex: 1;

    > a {
      text-decoration: none;
      transition: all 0.1s;

      &:hover {
        opacity: 0.9;
      }
    }

    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-weight: 400;
      gap: 2px;

      h2 {
        margin: 0;
      }

      p {
        font-size: 0.995rem;
        margin: 0;

        a {
          color: black;
          transition: 0.1s all;
          text-decoration-style: dotted;

          &:hover {
            background-color: var(--yellow);
          }
        }
      }
    }
  }

  @media screen and (max-width: $lg) {
    font-size: 0.995rem;
    flex-direction: column;
  }
}

.sp-wrapper {
  max-width: calc(100vw - ((100vw - 60vw) / 2));
  width: calc(100vw - ((100vw - 60vw) / 2)) !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.canvas {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  margin-top: 1em;

  @media screen and (min-width: $lg) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid var(--border);
    max-width: calc(100vw - ((100vw - 60vw) / 2));
    width: calc(100vw - ((100vw - 60vw) / 2));
  }

  @media screen and (min-width: $md) {
    display: flex;
  }

  .code {
    background-color: transparent !important;
    font-family: 'Fira Code', monospace;
    font-size: 1.1rem;
    flex: 50%;
    margin: 0;

    @media screen and (min-width: $md) {
      max-width: 50%;
      border-right: 1px solid var(--border);
    }

    @media screen and (max-width: $lg) {
      border-bottom: 1px solid var(--border);
    }
  }

  > div {
    flex: 50%;
  }
}

section {
  background-color: var(--yellow);
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 1em;
  margin: 1em 0;

  a {
    font-style: italic;
    font-weight: 500;
    text-decoration-style: dotted;
  }

  button {
    background-color: transparent;
    border: none;
    font: inherit;
    padding: 0;
    font-style: italic;
    color: #404040;
  }
}

.prose {
  line-height: 1.6;
  font-size: 1.2rem;
  position: relative;

  @media screen and (max-width: $lg) {
    font-size: 1.1rem;
  }

  .markdown-node-label {
    text-align: left;
  }

  img {
    max-width: 100%;

    @media screen and (max-width: $md) {
      width: 90% !important;
    }
  }

  a {
    color: black;
    transition: 0.1s all;
    text-decoration-style: dotted;
    font-style: italic;

    &:hover {
      background-color: var(--yellow);
    }
  }

  aside {
    font-size: 1rem;
    position: relative;
    border-top: 1px solid var(--border);
    padding: 1em;

    code {
      font-size: 0.9rem !important;
    }

    p:nth-child(1) {
      margin-top: 0;
    }

    @media screen and (max-width: $lg) {
      border-bottom: 1px solid var(--border);
      margin-bottom: 1em;
      // width: 100%;

      p:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: $lg) {
      max-width: calc((100vw - 60vw) / 2 - 2em);
      width: calc((100vw - 60vw) / 2 - 2em);
      padding-right: 0;
      margin-right: 1em;
      text-align: right;
      position: relative;
      float: left;
    }
  }

  .toc {
    font-size: 1.1rem;

    @media screen and (max-width: $lg) {
      padding-top: 0.25em;
      padding-bottom: 1em;
    }

    p {
      @media screen and (min-width: $lg) {
        padding-right: 1em;
      }
    }

    a {
      background-color: transparent;
      text-decoration: underline dotted;
      transition: all 0.1s;

      &:hover {
        background-color: var(--yellow);
      }
    }

    h3 {
      font-family: 'Newsreader';

      @media screen and (max-width: $lg) {
        font-size: 1.4rem;
        margin-bottom: 0 !important;
      }

      margin-top: 1.5em !important;
    }

    p {
      margin: 0.25em 0 !important;
    }

    @media screen and (max-width: $md) {
      max-width: 85vw;
      margin: auto;
      text-align: right;
      font-size: 0.995rem;
    }

    @media screen and (max-width: $lg) {
      max-width: 85vw;
      margin: auto;
      text-align: right;
    }

    @media screen and (min-width: $lg) {
      border-top: 1px solid var(--border);
      max-width: calc((100vw - 60vw) / 2 - 2em);
      width: calc((100vw - 60vw) / 2 - 2em);
      padding-right: 1em;
      margin-left: 1em;
      float: right;
      position: sticky;
      top: 0;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    max-width: 90vw;
    margin: auto;

    a {
      background-color: transparent;
      border-top: 1px solid var(--border);
      flex: 50%;
      padding: 1em;
      transition: all 0.1s;
      text-decoration: none;

      &:hover {
        color: var(--theme);
      }

      .hint {
        color: #404040;
        font-style: italic;
      }

      p {
        margin: 0;
      }

      &:nth-child(2) {
        text-align: right;
      }
    }

    @media screen and (min-width: $lg) {
      max-width: 60vw;
      margin: auto;
    }
  }

  code,
  pre {
    font-family: 'Menlo', 'Fira Code', monospace;
  }

  hr {
    border: none;
    background-color: var(--border);
    height: 1px;
    margin-left: 0;

    @media screen and (max-width: $md) {
      max-width: 85vw;
    }

    @media screen and (max-width: $lg) {
      max-width: 80vw;
    }

    @media screen and (min-width: $lg) {
      max-width: 80vw;
    }
  }

  pre {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    background-color: transparent !important;
    font-size: 1.1rem;
    user-select: none;
    padding: 0;
    max-height: 50vh;
    overflow-y: auto;
    display: block;

    &:default {
      margin-inline: 0 !important;
    }

    code {
      background-color: transparent !important;
    }
  }

  :not(.canvas) pre {
    padding: 0 !important;
    background-color: transparent !important;

    code {
      background-color: transparent !important;
    }
  }

  :not(pre) > code {
    font-size: 1.1rem;
  }

  h1,
  h2,
  h3 {
    font-family: 'Newsreader';
    font-style: italic;
    color: var(--hint);
    line-height: 1.4;
  }

  h1 {
    margin-bottom: 0 !important;
  }

  img,
  video {
    display: block;
    margin: auto;
  }

  &:not(.fw) {
    @media screen and (max-width: $md) {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      > pre,
      .interactive,
      ol,
      li,
      video,
      details,
      .pre-wrapper {
        max-width: 90vw;
        margin: 0.75em auto;
      }
    }

    @media screen and (max-width: $lg) {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      > pre,
      .interactive,
      ol,
      li,
      video,
      details,
      .pre-wrapper {
        max-width: 85vw;
        margin: 0.75em auto;
      }
    }

    @media screen and (min-width: $lg) {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      > pre,
      .interactive,
      ol,
      li,
      video,
      details,
      .pre-wrapper {
        max-width: 60vw;
        margin: 0.75em auto;
      }

      h2,
      h3 {
        margin-bottom: 0 !important;
        margin-top: 1em !important;
      }

      .pre-wrapper {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }

  .cm-editor {
    background-color: transparent;
    font-size: 0.995rem;

    @media screen and (max-width: $lg) {
      border-bottom: 1px solid var(--border);
    }
  }

  .cm-focused {
    outline: none !important;
  }

  .mermaid {
    pre {
      font-family: 'IBM Plex Sans' !important;
    }

    p {
      margin: 0 !important;
    }
  }
}
