@import '../styles/breakpoints.scss';

.editor {
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  display: flex;
  margin-bottom: 1em;
  font-size: 0.995rem;

  iframe {
    height: 100%;
  }

  > div {
    flex: 50%;
    position: relative;

    @media screen and (min-width: $md) {
      max-width: 50%;
    }
  }

  @media screen and (max-width: $md) {
    flex-direction: column;
    display: none;
  }

  @media screen and (min-width: $lg) {
    max-width: 80vw;
  }

  iframe {
    width: 100%;
    border: none;
  }
}

.tabs {
  display: flex;
  border-top: 1px solid var(--border);
  overflow-x: auto;

  .tab {
    cursor: pointer;
    padding: 7px 12px;
    border-right: 1px solid var(--border);
    user-select: none;
  }
}

.editable {
  border-right: 1px solid var(--border);
}

.terminal {
  height: 100%;
  overflow: auto;
  padding: 1rem;

  code {
    font-size: 0.995rem !important;
    display: block;
    margin-bottom: 0.25em;
    white-space: pre;
  }
}

.output {
  display: flex;
  flex-direction: column;
}
